<div class="container">
    <div class="row centered">
        <div class="infos-addres col-6 col-sm-12 col-md-6 col-lg-4">
            <a href="tel:+5531999109785">
                <span class="btn box-phone-white contactphone">
                    <i class="fa fa-phone" aria-hidden="true"></i> Telefone
                </span>
            </a>
        </div>
        <div class="infos-addres col-6 col-sm-12 col-md-6 col-lg-4">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5531999109785&text=Olá!%20Cheguei%20até%20aqui%20pelo%20site%20e%20gostaria%20de%20mais%20informações%20sobre%20seus%20serviços.%20Poderiam%20me%20ajudar?">
                <span class="btn box-phone-white contactwhatsapp">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp
                </span>
            </a>
        </div>
        <div class="infos-addres col-6 col-sm-12 col-md-6 col-lg-4">
            <a href="mailto:alyssonconstrucoescivil@hotmail.com">
                <span class="btn box-phone-white contactemail">
                    <i class="fa fa-envelope" aria-hidden="true"></i> Email
                </span>
            </a>
        </div>
    </div>
</div>