<section class="cta-area2">
    <div class="container">
        <h2>Solicite um orçamento</h2>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <a href="tel:+5531999109785">
                    <span class="btn btn-orcamento contactphone">
                        Orçamento por <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <a href="https://api.whatsapp.com/send?phone=5531999109785&text=Olá!%20Cheguei%20até%20aqui%20pelo%20site%20e%20gostaria%20de%20mais%20informações%20sobre%20seus%20serviços.%20Poderiam%20me%20ajudar?" target="_blank">
                    <span class="btn btn-orcamento contactwhatsapp">
                        Orçamento por <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <a href="mailto:alyssonconstrucoescivil@hotmail.com">
                    <span class="btn btn-orcamento contactemail">
                        Orçamento por <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>